// app global css

@import './quasar.variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

// 유틸리티 클래스
.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}
